body {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.6em;
}

.body-form {
    font-family: "Titillium Web", sans-serif;
    font-size: 1em;
}

#teste {
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
}

.bg-primary {
    background: #0089c0 !important;
}

.margem-footer {
    margin-top: 15rem !important;
}

.font-size-footer {
    font-size: 18px !important;
}

.label-estilo-0 {
    width: 12.5rem;
    background: #4fb848;
}

.label-estilo-1 {
    width: 38%;
    background: #4fb848;
}

.label-estilo-2 {
    width: 21rem;
    background: #4fb848;
}

.margem-central {
    margin-left: 10rem !important;
}

.espaco-botao {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

#botao-cadastrar:hover {
    background: rgb(59, 58, 58);
}

#botao-entrar:hover {
    background: rgb(59, 58, 58);
    border: none;
}

.linha-estilo {
    border-bottom: 10px solid #4fb848;
    position: relative;
    width: 45%;
}

.linha-estilo-1 {
    border-bottom: 10px solid #4fb848;
    position: relative;
    width: 55%;
}

.linha-estilo-3 {
    border-bottom: 10px solid #4fb848;
    position: relative;
    width: 28%;
}

.linha-estilo-4 {
    border-bottom: 10px solid #0089c0;
    margin: calc(1rem / 2) 0px;
    position: relative;
    width: 42%;
}

.linha-estilo-5 {
    border-bottom: 10px solid #4fb848;
    margin: calc(1rem / 2) 0px;
    position: relative;
    width: 19%;
}

.linha-estilo-vertical {
    border-left: 10px solid #4fb848;
    height: 5%;
}

li {
    list-style-type: none;
}

input[type="radio"] {
    transform: scale(1.7);
}

input[type="checkbox"] {
    transform: scale(1.7);
}

.border-dark {
    border: 2px solid black !important;
}

.card {
    border: none !important;
}

.form-control {
    background: transparent !important;
}

.border-bottom {
    border-bottom: 3px solid white !important;
}

.botao-salvar {
    padding-left: 150px !important;
    padding-right: 150px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #0089c0 !important;
}

.botao-entrar {
    padding-left: 150px !important;
    padding-right: 126px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: white !important;
}

.botao-entrar:hover {
    background: rgb(59, 58, 58);
    color: white !important;
}

.botao-salvar:hover {
    background: rgb(59, 58, 58);
    color: white !important;
}

.border-bottom-login {
    border-bottom: 3px solid black !important;
}

.btn-link {
    color: rgb(134, 131, 131) !important;
}

.tamanho-fonte-link {
    font-size: 15px !important;
}

.tamanho-fonte-login {
    font-size: 14px !important;
}

.btn-outline-info {
    background: white !important;
    border-radius: 50% !important;
}



.container-popUp {
    width: 80% !important;
    margin: auto !important;
}

.cor-botao-popUp{
    background: #0089c0 !important;
}
.botao-popUp:hover {
    background: rgb(59, 58, 58) !important;
    color: white !important;
    border: none !important;
}

.linha-estilo-popUp{
    border-bottom: 10px solid #4fb848;
    width: 22%;
}

