header{
    background-color:#bbbbbb;
    padding: 20px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;

}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-left: 15px;
}
